<mat-toolbar color="teal">
    <img src="../assets/plug.png" alt="">

    <ng-container *ngIf="!(authenticated$ | async)">
        <button mat-button routerLink="/auth/login">
            <mat-icon>input</mat-icon>
            &nbsp;Entrar
            </button>
        <button mat-button routerLink="/auth/register">
            <mat-icon>person_add</mat-icon>
            Registrar
        </button>
    </ng-container>

    <ng-container *ngIf="(authenticated$ | async) && (user$ | async)">
        <button mat-icon-button routerLink="/main/dash">
            <mat-icon>desktop_windows</mat-icon> Inicio
        </button>
        <button mat-icon-button [matMenuTriggerFor]="cadastros">
            <mat-icon>home</mat-icon> Cadastros
        </button>
        <mat-menu #cadastros="matMenu">
            <button mat-menu-item routerLink="/main/comodo">
                <mat-icon>window</mat-icon> Cômodos
              </button>
            <mat-divider></mat-divider>
          <button mat-menu-item routerLink="/main/aparelhos">
            <mat-icon>settings_cells</mat-icon> Aparelhos
          </button>
        </mat-menu>
        <!--ESTOU AQUI-->
        <button mat-icon-button routerLink="/main/alerts">
            <mat-icon>notification_important</mat-icon> Avisos
        </button>
        <button mat-icon-button routerLink="/main/details">
            <mat-icon>auto_graph</mat-icon> Detalhes
        </button>
        <button mat-icon-button routerLink="/main/tutorials">
            <mat-icon>menu_book</mat-icon> Tutoriais
        </button>
        <button mat-icon-button class="profile" [matMenuTriggerFor]="menu">
            <mat-icon>account_circle</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
              <p class="username">Olá {{(user$|async)?.firstname}}!</p>

              <mat-divider></mat-divider>
            
            <button mat-menu-item (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
              <span>Logout</span>
            </button>
          </mat-menu>

    </ng-container>
</mat-toolbar>

<router-outlet></router-outlet>