<div fxLayout="row" fxLayoutGap="20px">
    <div fxFlex="80">
<br><br><br><mat-accordion>
<mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Informações do Dashboard
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Caros amigos, o fenômeno da Internet prepara-nos para enfrentar situações atípicas decorrentes dos paradigmas corporativos.</p>
  </mat-expansion-panel>
</mat-accordion>

<br><br><br><mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Como cadastrar meu cômodo?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Caros amigos, o fenômeno da Internet prepara-nos para enfrentar situações atípicas decorrentes dos paradigmas corporativos.</p>
      </mat-expansion-panel>
    </mat-accordion>

    <br><br><br><mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Como cadastrar um aparelho?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Caros amigos, o fenômeno da Internet prepara-nos para enfrentar situações atípicas decorrentes dos paradigmas corporativos.</p>
          </mat-expansion-panel>
        </mat-accordion>

        <br><br><br><mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                   (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Coletando assinatura do aparelho
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Caros amigos, o fenômeno da Internet prepara-nos para enfrentar situações atípicas decorrentes dos paradigmas corporativos.</p>
              </mat-expansion-panel>
            </mat-accordion>

            <br><br><br><mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true"
                                       (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Obter informações mais detalhada sobre meu consumo
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Caros amigos, o fenômeno da Internet prepara-nos para enfrentar situações atípicas decorrentes dos paradigmas corporativos.</p>
                  </mat-expansion-panel>
                </mat-accordion>

                <br><br><br><mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                           (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Notificações sobre o uso dos aparelhos
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Caros amigos, o fenômeno da Internet prepara-nos para enfrentar situações atípicas decorrentes dos paradigmas corporativos.</p>
                      </mat-expansion-panel>
                    </mat-accordion>
</div>
</div>